body {
    background-color: #52b788;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #40916c;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    max-width: 90%;
    box-shadow:  17px 17px 34px #31905a,
             -17px -17px 34px #37a064;
  }
  
  #calculator {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #263238;
    margin-top: 0;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #263238;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #90a4ae;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2196f3;
    color: #74c69d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button {
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #74c69d;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: #e8e8e8;
   }
   
   button:hover::before {
    width: 100%;
   }
  p {
    margin-top: 20px;
    color: #263238;
  }
  